.articles {
  background-color: $veryLightGray;
}

.article {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 1.875rem 1.875rem 1.875rem 2.5rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.65rem;
    line-height: 1.15;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: $darkBlue;
  }

  &__description {
    font-size: 0.8125rem;
  }
}
